.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.923828;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.testi{
    display: inline-block;
    width: 926px;
    word-wrap: break-word;
    white-space: normal;
    line-height: 40px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._20{margin-left:-4.573826px;}
._1{margin-left:-2.219473px;}
._0{width:1.038312px;}
._21{width:2.591353px;}
._5{width:70.367333px;}
._2{width:71.571515px;}
._19{width:72.760940px;}
._8{width:180.051215px;}
._11{width:186.804080px;}
._14{width:190.151589px;}
._3{width:201.197600px;}
._18{width:213.895819px;}
._7{width:220.705352px;}
._c{width:227.122935px;}
._e{width:229.262129px;}
._16{width:230.494645px;}
._6{width:241.030059px;}
._b{width:246.677910px;}
._17{width:251.140467px;}
._1b{width:253.208827px;}
._12{width:260.778057px;}
._1d{width:263.064233px;}
._4{width:278.878569px;}
._d{width:293.452125px;}
._1c{width:296.266606px;}
._a{width:298.108297px;}
._10{width:311.873752px;}
._15{width:322.762747px;}
._f{width:326.730055px;}
._9{width:333.577366px;}
._1e{width:347.815050px;}
._1a{width:355.941509px;}
._13{width:413.445342px;}
._1f{width:512.458045px;}
.fc1{color:rgb(38,126,191);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:33.055983px;}
.fs3{font-size:35.417124px;}
.fs2{font-size:40.139408px;}
.fs1{font-size:47.222832px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.086712px;}
.y38{bottom:14.166849px;}
.y24{bottom:120.418222px;}
.y23{bottom:131.043359px;}
.y22{bottom:141.668496px;}
.y37{bottom:146.390780px;}
.y1b{bottom:152.293634px;}
.y48{bottom:165.279913px;}
.y36{bottom:180.627333px;}
.y1d{bottom:181.217618px;}
.y35{bottom:191.252470px;}
.y1c{bottom:191.842756px;}
.y34{bottom:201.877608px;}
.y47{bottom:204.829035px;}
.y46{bottom:223.127882px;}
.y52{bottom:229.030736px;}
.y21{bottom:240.836444px;}
.y33{bottom:246.739298px;}
.y20{bottom:251.461582px;}
.y32{bottom:257.364436px;}
.y1f{bottom:262.086719px;}
.y31{bottom:267.989573px;}
.y45{bottom:275.072998px;}
.y30{bottom:278.614710px;}
.y2f{bottom:289.239848px;}
.y1a{bottom:291.010704px;}
.y51{bottom:302.226127px;}
.y44{bottom:303.996983px;}
.y19{bottom:319.934689px;}
.y18{bottom:330.559826px;}
.y50{bottom:342.955820px;}
.y43{bottom:343.546105px;}
.y17{bottom:359.483811px;}
.y4f{bottom:361.254667px;}
.y16{bottom:370.108948px;}
.y2e{bottom:377.192373px;}
.y15{bottom:380.734085px;}
.y4e{bottom:390.178652px;}
.y42{bottom:393.720364px;}
.y2d{bottom:406.116358px;}
.y1e{bottom:411.428927px;}
.y2c{bottom:416.741495px;}
.y41{bottom:424.415205px;}
.y2b{bottom:427.366632px;}
.y2a{bottom:437.991770px;}
.y14{bottom:440.352911px;}
.y4d{bottom:450.387763px;}
.y40{bottom:452.748905px;}
.y29{bottom:466.325469px;}
.y11{bottom:468.686611px;}
.y28{bottom:476.950607px;}
.y3f{bottom:481.082604px;}
.y4c{bottom:489.346600px;}
.y10{bottom:497.020310px;}
.y27{bottom:505.284306px;}
.y3e{bottom:509.416304px;}
.y4b{bottom:517.680299px;}
.yf{bottom:525.354010px;}
.y26{bottom:533.618005px;}
.y3d{bottom:537.750003px;}
.y25{bottom:544.243143px;}
.ye{bottom:553.687709px;}
.y4a{bottom:557.229422px;}
.y3c{bottom:566.673988px;}
.y49{bottom:575.528269px;}
.y13{bottom:582.611694px;}
.y12{bottom:593.236831px;}
.y3b{bottom:606.223110px;}
.yd{bottom:635.737381px;}
.yc{bottom:646.362518px;}
.yb{bottom:656.987655px;}
.ya{bottom:667.612792px;}
.y9{bottom:678.237930px;}
.y8{bottom:688.863067px;}
.y7{bottom:699.488204px;}
.y3a{bottom:726.641333px;}
.y6{bottom:744.349895px;}
.y5{bottom:754.975032px;}
.y4{bottom:765.600170px;}
.y3{bottom:776.225307px;}
.y2{bottom:786.850444px;}
.y39{bottom:800.427009px;}
.h4{height:24.566018px;}
.h3{height:25.631299px;}
.h7{height:26.320734px;}
.h6{height:29.830165px;}
.h5{height:35.094312px;}
.h2{height:813.413288px;}
.h1{height:813.500000px;}
.h0{height:842.000000px;}
.w2{width:537.750004px;}
.w1{width:538.000000px;}
.w0{width:595.000000px;}
.x15{left:6.493139px;}
.x3{left:13.281422px;}
.x2d{left:14.757135px;}
.x16{left:15.937706px;}
.x11{left:19.479418px;}
.x18{left:23.611416px;}
.x4{left:24.791987px;}
.x0{left:28.500000px;}
.x19{left:30.104556px;}
.x17{left:31.875412px;}
.x13{left:37.187981px;}
.x1a{left:39.549122px;}
.x12{left:40.729693px;}
.x1d{left:41.910264px;}
.x1c{left:46.042262px;}
.x2f{left:49.879117px;}
.x1b{left:51.945116px;}
.x2e{left:72.014819px;}
.x2a{left:82.639957px;}
.x14{left:85.001098px;}
.x6{left:90px;}
.x5{left:109.497943px;}
.x7{left:127.796790px;}
.xf{left:164.099343px;}
.x2b{left:170.592482px;}
.x2{left:194.203898px;}
.x8{left:195.679612px;}
.x2c{left:197.155325px;}
.x9{left:202.763037px;}
.x1{left:208.075605px;}
.x10{left:231.982164px;}
.xc{left:276.843855px;}
.xa{left:279.500139px;}
.x25{left:283.927280px;}
.x32{left:286.288422px;}
.xb{left:293.076704px;}
.x1e{left:294.552417px;}
.x29{left:296.913559px;}
.x23{left:300.455271px;}
.x24{left:304.587269px;}
.x26{left:307.538696px;}
.x21{left:311.080409px;}
.x28{left:318.163833px;}
.x22{left:320.524975px;}
.x31{left:324.656973px;}
.x33{left:345.612105px;}
.x27{left:356.532385px;}
.x30{left:362.140096px;}
.xd{left:367.157522px;}
.x34{left:382.504943px;}
.xe{left:457.471189px;}
.x1f{left:458.651760px;}
.x20{left:491.707743px;}
@media 2312{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._20{margin-left:-6.098435pt;}
._1{margin-left:-2.959297pt;}
._0{width:1.384416pt;}
._21{width:3.455137pt;}
._5{width:93.823110pt;}
._2{width:95.428687pt;}
._19{width:97.014587pt;}
._8{width:240.068287pt;}
._11{width:249.072107pt;}
._14{width:253.535452pt;}
._3{width:268.263466pt;}
._18{width:285.194426pt;}
._7{width:294.273803pt;}
._c{width:302.830580pt;}
._e{width:305.682839pt;}
._16{width:307.326193pt;}
._6{width:321.373412pt;}
._b{width:328.903880pt;}
._17{width:334.853957pt;}
._1b{width:337.611770pt;}
._12{width:347.704076pt;}
._1d{width:350.752310pt;}
._4{width:371.838092pt;}
._d{width:391.269500pt;}
._1c{width:395.022141pt;}
._a{width:397.477729pt;}
._10{width:415.831670pt;}
._15{width:430.350329pt;}
._f{width:435.640074pt;}
._9{width:444.769821pt;}
._1e{width:463.753400pt;}
._1a{width:474.588679pt;}
._13{width:551.260457pt;}
._1f{width:683.277394pt;}
.fs0{font-size:44.074644pt;}
.fs3{font-size:47.222832pt;}
.fs2{font-size:53.519210pt;}
.fs1{font-size:62.963777pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.115617pt;}
.y38{bottom:18.889132pt;}
.y24{bottom:160.557629pt;}
.y23{bottom:174.724479pt;}
.y22{bottom:188.891328pt;}
.y37{bottom:195.187706pt;}
.y1b{bottom:203.058178pt;}
.y48{bottom:220.373217pt;}
.y36{bottom:240.836444pt;}
.y1d{bottom:241.623491pt;}
.y35{bottom:255.003294pt;}
.y1c{bottom:255.790341pt;}
.y34{bottom:269.170144pt;}
.y47{bottom:273.105380pt;}
.y46{bottom:297.503843pt;}
.y52{bottom:305.374315pt;}
.y21{bottom:321.115259pt;}
.y33{bottom:328.985731pt;}
.y20{bottom:335.282109pt;}
.y32{bottom:343.152581pt;}
.y1f{bottom:349.448959pt;}
.y31{bottom:357.319431pt;}
.y45{bottom:366.763997pt;}
.y30{bottom:371.486280pt;}
.y2f{bottom:385.653130pt;}
.y1a{bottom:388.014272pt;}
.y51{bottom:402.968169pt;}
.y44{bottom:405.329310pt;}
.y19{bottom:426.579585pt;}
.y18{bottom:440.746435pt;}
.y50{bottom:457.274426pt;}
.y43{bottom:458.061473pt;}
.y17{bottom:479.311748pt;}
.y4f{bottom:481.672889pt;}
.y16{bottom:493.478598pt;}
.y2e{bottom:502.923164pt;}
.y15{bottom:507.645447pt;}
.y4e{bottom:520.238203pt;}
.y42{bottom:524.960486pt;}
.y2d{bottom:541.488477pt;}
.y1e{bottom:548.571902pt;}
.y2c{bottom:555.655327pt;}
.y41{bottom:565.886941pt;}
.y2b{bottom:569.822177pt;}
.y2a{bottom:583.989026pt;}
.y14{bottom:587.137215pt;}
.y4d{bottom:600.517018pt;}
.y40{bottom:603.665207pt;}
.y29{bottom:621.767292pt;}
.y11{bottom:624.915481pt;}
.y28{bottom:635.934142pt;}
.y3f{bottom:641.443472pt;}
.y4c{bottom:652.462133pt;}
.y10{bottom:662.693747pt;}
.y27{bottom:673.712408pt;}
.y3e{bottom:679.221738pt;}
.y4b{bottom:690.240399pt;}
.yf{bottom:700.472013pt;}
.y26{bottom:711.490674pt;}
.y3d{bottom:717.000004pt;}
.y25{bottom:725.657524pt;}
.ye{bottom:738.250279pt;}
.y4a{bottom:742.972562pt;}
.y3c{bottom:755.565317pt;}
.y49{bottom:767.371026pt;}
.y13{bottom:776.815592pt;}
.y12{bottom:790.982442pt;}
.y3b{bottom:808.297480pt;}
.yd{bottom:847.649841pt;}
.yc{bottom:861.816690pt;}
.yb{bottom:875.983540pt;}
.ya{bottom:890.150390pt;}
.y9{bottom:904.317240pt;}
.y8{bottom:918.484089pt;}
.y7{bottom:932.650939pt;}
.y3a{bottom:968.855111pt;}
.y6{bottom:992.466527pt;}
.y5{bottom:1006.633377pt;}
.y4{bottom:1020.800226pt;}
.y3{bottom:1034.967076pt;}
.y2{bottom:1049.133926pt;}
.y39{bottom:1067.236011pt;}
.h4{height:32.754691pt;}
.h3{height:34.175065pt;}
.h7{height:35.094312pt;}
.h6{height:39.773554pt;}
.h5{height:46.792416pt;}
.h2{height:1084.551050pt;}
.h1{height:1084.666667pt;}
.h0{height:1122.666667pt;}
.w2{width:717.000005pt;}
.w1{width:717.333333pt;}
.w0{width:793.333333pt;}
.x15{left:8.657519pt;}
.x3{left:17.708562pt;}
.x2d{left:19.676180pt;}
.x16{left:21.250275pt;}
.x11{left:25.972558pt;}
.x18{left:31.481888pt;}
.x4{left:33.055983pt;}
.x0{left:38.000000pt;}
.x19{left:40.139408pt;}
.x17{left:42.500549pt;}
.x13{left:49.583974pt;}
.x1a{left:52.732163pt;}
.x12{left:54.306257pt;}
.x1d{left:55.880352pt;}
.x1c{left:61.389682pt;}
.x2f{left:66.505489pt;}
.x1b{left:69.260154pt;}
.x2e{left:96.019759pt;}
.x2a{left:110.186609pt;}
.x14{left:113.334798pt;}
.x6{left:128.682218pt;}
.x5{left:145.997257pt;}
.x7{left:170.395720pt;}
.xf{left:218.799124pt;}
.x2b{left:227.456643pt;}
.x2{left:258.938531pt;}
.x8{left:260.906149pt;}
.x2c{left:262.873767pt;}
.x9{left:270.350716pt;}
.x1{left:277.434140pt;}
.x10{left:309.309552pt;}
.xc{left:369.125140pt;}
.xa{left:372.666853pt;}
.x25{left:378.569707pt;}
.x32{left:381.717895pt;}
.xb{left:390.768938pt;}
.x1e{left:392.736556pt;}
.x29{left:395.884745pt;}
.x23{left:400.607028pt;}
.x24{left:406.116359pt;}
.x26{left:410.051595pt;}
.x21{left:414.773878pt;}
.x28{left:424.218445pt;}
.x22{left:427.366633pt;}
.x31{left:432.875964pt;}
.x33{left:460.816140pt;}
.x27{left:475.376513pt;}
.x30{left:482.853461pt;}
.xd{left:489.543363pt;}
.x34{left:510.006590pt;}
.xe{left:609.961585pt;}
.x1f{left:611.535680pt;}
.x20{left:655.610323pt;}
}
